{% extends 'base/base.html.twig' %}

{% block title %}User Settings
{% endblock %}

{% block d_content %}
    <div class="header">
		<div class="left w-100">
			<h1>User Settings</h1>
		</div>
	</div>
{% endblock %}